[submodule "VIIL/lib/spdlog"]
	path = VIIL/lib/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "VIIL/lib/glfw"]
	path = VIIL/lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "VIIL/lib/imgui"]
	path = VIIL/lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "VIIL/lib/glm"]
	path = VIIL/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "VIIL/lib/stb"]
	path = VIIL/lib/stb
	url = https://github.com/nothings/stb.git
	branch = master
